/* page header
====================================== */
.page_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 20vw;

  &__ttl {
    font-size: 1.8rem;
    line-height: 1;
  }

  @include mq(mid) {
    &__ttl {
      font-size: 2.4rem;
    }
  }
}