/*  sidebar
====================================== */
.widget_area {
  width: 100%;
}

.widget {
  .widget-title {
    display: none;
  }

  & > ul > .cat-item > a {
    display: inline-block;
    font-size: 1.8rem;
    text-decoration: underline;
  }

  & > ul > .cat-item + .cat-item {
    margin-top: 1em;
  }

  & + .widget {
    margin-top: 40px;
  }

  .children {
    margin-left: 1em;
  }
}


@include mq(mid) {
  .widget_area {
    width: 27%;
    flex: 0 0 27%;
  }

  .widget {
    & > ul > .cat-item + .cat-item {
      margin-top: 1.5em;
    }
  }
}