@charset 'UTF-8';

.btn,
%btn {
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.btn_primary {
  @extend %btn;
  min-width: 200px;
  max-width: 320px;
  height: 56px;
  padding: 0 1.5em;
  color: #fff;
  background: color(primary, base);
  border-radius: 2px;
  font-size: 1.6rem;
  letter-spacing: .05em;
  line-height: 56px;
  transition: $hover;

  &:after {
    right: 2rem;
    @include arrow(12px, 2px, #fff, right);
  }

  &:hover {
    background: lighten(color(primary, base), 10%);
  }
}
