@use "../../utilities" as utils;

/* breadcrumbs
====================================== */
.breadcrumbs {
  width: 100%;
  margin: 0 auto;
  padding: 2rem utils.$pd-sm;

  @include utils.mq(mid) {
    padding: 2rem utils.$pd-mid;
  }

  span {
    font-size: 1.4rem;
  }

  a {
    color: color('text');
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }
}