@use "../../utilities" as utils;

.btn,
%btn {
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  outline: none;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: rgba(var(--color-primary), 10%);
  }

  &:active {
    top: 1px;
  }
}

.btn_primary {
  @extend %btn;
  min-width: 200px;
  max-width: 320px;
  height: 56px;
  padding: 0 1.5em;
  color: #fff;
  background: var(--color-primary);
  border-radius: var(--radius-sm);
  font-size: 1.6rem;
  letter-spacing: .05em;
  line-height: 56px;
  transition: utils.$hover;

  &:after {
    margin-left: 1em;
    @include utils.arrow-brackets(14px, 2px, right, #fff);
    vertical-align: middle;
  }
}
