// ================================================= */
// Variables
// ================================================= */

$base-url: '/assets/';
$noimg: '/assets/img/common/noimg.jpg';


//* Containers
// --------------------------------------- */
$x-small: 560px;
$small:   720px;
$medium:  960px;
$large:  1200px;

$main:   1168px;


//* Breakpoints
// --------------------------------------- */
$breakpoints: (
  'sm': 600px,
  'mid': 900px,
  'lg': 1200px,
) !default;



//* Padding
// --------------------------------------- */
$pd-sm: 8.5333vw;
$pd-mid: 5%;
$pd-lg: 5%;


$pd-sec-sm: 36px;
$pd-sec-mid: 80px;
$pd-sec-lg: 96px;



//* Layout
// --------------------------------------- */
$header-h-mb: 60px;
$header-h-tab: 120px;




//* Colors
// --------------------------------------- */
$colors: (
  text: #444,
  link: #444,

  bg: #f2f2f2,

  primary: (
    base: #fed058,
    light: lighten(#fed058, 5),
    dark: darken(#fed058, 5),
    trans: transparentize(#fed058, .5),
  ),
  second: rgba(#fed058, .2),
  sub: #fdfde2,
  sub2: #e0e0e0,
  accent: #e0e0e0,
) !default;




//* Transition
// --------------------------------------- */
$hover: all .3s ease;


//* Typography
// --------------------------------------- */

//Body
$font-size-base-px: 14;
$font-size-pc-px: 16;
$font-weight: 400;
$font-family: 'Work Sans','游ゴシック Medium', 'Yu Gothic Medium', YuGothic, '游ゴシック体', '游ゴシック', "Hiragino Kaku Gothic ProN", 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
$line-height-base-px: 29;


//Headline
$headlines-s: (
  h1: 24,
  h2: 20,
  h3: 16,
  h4: 14,
) !default;

$headlines: (
  h1: 27,
  h2: 22,
  h3: 18,
  h4: 14,
) !default;