// ================================================= */
// Variables
// ================================================= */

$base-url: '/assets/';
$noimg: '/assets/img/common/noimg.jpg';


//* Containers
// --------------------------------------- */
$x-small: 560px;
$small:   720px;
$medium:  960px;
$large:  1200px;

$main:   1168px;


//* Breakpoints
// --------------------------------------- */
$breakpoints: (
  'sm': 600px,
  'mid': 900px,
  'lg': 1200px,
) !default;



//* Padding
// --------------------------------------- */
$pd-sm: 8.5333vw;
$pd-mid: 5%;
$pd-lg: 5%;


$pd-sec-sm: 36px;
$pd-sec-mid: 80px;
$pd-sec-lg: 96px;



//* Layout
// --------------------------------------- */
$header-h-mb: 60px;
$header-h-tab: 120px;




//* Transition
// --------------------------------------- */
$hover: all .3s ease;


//* Typography
// --------------------------------------- */

// Body
$font-size-base-px: 14;
$font-size-pc-px: 16;
$font-weight: 400;
$line-height-base-px: 25.2;



//* Custom Property
// --------------------------------------- */
:root {
  --color-text: #444;
  --color-background: #f2f2f2;

  --color-primary: #fed058;
  --color-secondary: #fed058;
  --color-sub: #fdfde2;
  --color-sub2: #e0e0e0;
  --color-accent: #e0e0e0;
  --color-gray: #e0e0e0;

  --color-notion: #999;
  --color-warning: ;
  --color-gradient: ;

  --radius-sm: 2px;
  --radius: 4px;
  --radius-lg: 8px;

  --shadow: 0px 2px 9px rgba(0,0,0,0.23);

  --font-family-sans: 'Work Sans','游ゴシック Medium', 'Yu Gothic Medium', YuGothic, '游ゴシック体', '游ゴシック', "Hiragino Kaku Gothic ProN", 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
  --font-family-serif: 'YuMincho', 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', serif;
}
