// ================================================= */
// Variables
// ================================================= */

$base-url: '/assets/';
$noimg: '/assets/img/common/noimg.jpg';


//* Containers
// --------------------------------------- */
$x-small: 560px;
$small:   720px;
$medium:  960px;
$large:  1200px;

$main:   1168px;


//* Breakpoints
// --------------------------------------- */
$breakpoints: (
  'sm': 600px,
  'mid': 900px,
  'lg': 1200px,
) !default;



//* Padding
// --------------------------------------- */
$pd-mb: 8.5333vw;
$pd-sm: 8.5333vw;
$pd-mid: 5%;

$pd-sec-mb: 48px 0;
$pd-sec-tab: 96px 0;

$pd-sec-sm: 48px;
$pd-sec-mid: 96px;



//* Layout
// --------------------------------------- */
$header-h-mb: 60px;
$header-h-tab: 120px;




//* Colors
// --------------------------------------- */
$colors: (
  text: #444,
  link: #444,

  bg: #f2f2f2,

  primary: (
    base: #fed058,
    light: lighten(#fed058, 5),
    dark: darken(#fed058, 5),
    trans: transparentize(#fed058, .5),
  ),
  second: rgba(#fed058, .2),
  sub: #fdfde2,
  sub2: #e0e0e0,
  accent: #e0e0e0,
) !default;




//* Transition
// --------------------------------------- */
$hover: all .3s ease;


//* Typography
// --------------------------------------- */

//Body
$font-size-mobile: 1.4rem;
$font-size-desktop: 1.5rem;
$body-font-size: 1.4rem;
$font-weight: normal;
$font-weight-head: 600;
$font-family: 'Work Sans','游ゴシック Medium', 'Yu Gothic Medium', YuGothic, '游ゴシック体', '游ゴシック', "Hiragino Kaku Gothic ProN", 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
$line-height: 1.8;


//Headline
$headlines-s: (
  h1: 3.2rem,
  h2: 2.4rem,
  h3: 2rem,
  h4: 1.6rem,
) !default;

$headlines: (
  h1: 4rem,
  h2: 3.2rem,
  h3: 2.4rem,
  h4: 1.8rem,
) !default;

$headlines-line-height: (
  h1: 1.2,
  h2: 1.6,
  h3: 1.35,
  h4: 1.45,
) !default;

$headlines-mb-s: (
  h1: 24px,
  h2: 12px,
  h3: 8px,
  h4: 8px,
) !default;

$headlines-mb: (
  h1: 48px,
  h2: 24px,
  h3: 16px,
  h4: 8px,
) !default;