/* =====================================
404
====================================== */
.error-404 {
  .page_ttl {
    margin-bottom: 1em;
  }

  p {
    margin: 0 0 1em;
    text-align: center;
  }
}
