/*
* Article
* ================================== */


/* article
============================ */
.article {
  max-width: 560px;
  margin: 0 auto;

  h1 {
    @extend %h1;
  }

  h2 {
    @extend %h2;
  }

  h3 {
    @extend %h3;
  }

  h4 {
    @extend %h4;
  }

  p, ul {
    margin-bottom: 24px;
  }

  li {
    padding-left: 1em;
    list-style: disc;
    list-style-position: inside;
  }
}