/* =====================================
index
====================================== */

/* hero
============================ */
.hero {
  position: relative;
  background: url(../img/index/main.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 600px;
  z-index: 1;
}

.hero_copy {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  width: 85%;
  max-width: 750px;
  margin: 0 auto;
  color: #fff;
  @include fs_clamp(3.2rem, 4vw, 6.4rem, 700);
  line-height: 1.2;
  letter-spacing: .1em;
  text-align: left;
}

@include mq(sm) {
  .hero_copy {
    line-height: 1.1;
  }
}


.scroll_down {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  bottom: 15px;
  top: auto;
  margin: auto;
  width: 18px;
  height: 32px;
  border: 2px solid #FFF;
  border-radius: 9px;
  z-index: 1;
  cursor: pointer;

  span {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    top: 6px;
    bottom: auto;
    margin: auto;
    width: 2px;
    height: 6px;
    background: #FFF;
    border-radius: 1px;
  }
}



/* intro
============================ */
.top_intro {
  .section_ttl {
    text-align: left;
  }

  .section_lead {
    font-weight: bold;
    line-height: 2.5;
  }

  .btn_primary {
    margin-top: 24px;
  }

  @include mq(mid) {
    .btn_primary {
      margin-top: 32px;
    }
  }
}




/* concept
============================ */
.concept {
}


/* service
============================ */
.service_list {
  margin: 4em 0 0;

  &__item {
    padding: 16px 0;
  }

  &__link {
    display: block;
  }

  &__ttl {
    @include fs_clamp(2rem, 4vw, 2.4rem, 600);
  }

  &__desc {
    @include fs_clamp(1.4rem, 2.5vw, 1.6rem);
    line-height: 1.6;
  }

  &__more {
    display: inline-block;
    padding: 0 0 .3em;
    color: rgb(5, 214, 139);
    border-bottom: 2px solid rgb(5, 214, 139);
  }

  @include mq(mid) {
    display: flex;
    justify-content: space-between;

    &__item {
      width: 30%;
      flex: 0 0 30%;
    }
  }
}


/* news
============================ */
.top_news .newsList {
  max-width: 98rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}


/* contact
============================ */
.contact {
  .contact_form {
    a {
      color: var(--color-primary);
      text-decoration: underline;
    }
  }

  @include mq(mid) {
    .container {
      max-width: $x-small;
      padding: 0;
    }
  }
}