/*
* Article
* ================================== */


/* list
============================ */
.article_list {
  @include grid(2, 32px 16px);
  margin: 0 0 40px;

  &__item {
    grid-column: span 1;
    grid-row: auto;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;

    a {
      display: block;
      padding: 0 2rem 2rem;
      color: #444;
    }
  }

  &__thumb {
    @include aspect-ratio(1.618, 1);
    width: calc(100% + 4rem);
    margin: 0 -2rem;
  }

  &__cat {
    margin: 1em 0;
    font-size: 1.3rem;
    opacity: .7;
  }

  &__ttl {
    font-size: 1.5rem;
    line-height: 2;
  }

  &__link {
    display: inline-block;
    font-size: 1.4rem;
    border-bottom: 2px solid #ccc;
  }

  @include mq(mid) {
    @include grid(4, 0 32px);

    &__item {
      grid-column: span 1;

      a {
        transition: $hover;
    
        &:hover {
          color: color(primary, base);
          opacity: .7;
        }
      }
    }
  }
}



/* detail
============================ */
.article_detail {
  max-width: 560px;
  margin: 0 auto;

  h1 {
    @include headline-base(h1);
  }

  h2 {
    @include headline-base(h2);
  }

  h3 {
    @include headline-base(h3);
  }

  h4 {
    @include headline-base(h4);
  }

  p, ul {
    margin-bottom: 24px;
  }

  li {
    padding-left: 1em;
    list-style: disc;
    list-style-position: inside;
  }
}