/*
* Article
* ================================== */

.article {
  $this: &;

  &__item {
  }

  &__cat {
    margin: 1em 0;
    @include fs_clamp(1.2rem, 2.5vw, 1.3rem);
    opacity: .7;
  }

  &__ttl {
    @include fs_clamp(1.5rem, 2.5vw, 1.7rem);
    line-height: 2;
  }
}


.cat_list {
  margin: 0 0 32px;

  li {
    display: inline-block;
    margin: 0 4px 0 0;
  }

  a {
    display: block;
    height: 32px;
    padding: 0 .6em;
    background: #fff;
    border: 2px solid #252525;
    border-radius: 4px;
    @include fs_clamp(1.5rem, 2.5vw, 1.6rem, 500);
    line-height: 28px;
    text-align: center;
  }

  .current-cat a {
    color: color(sub3);
    border-color: color(sub3);
  }


  @include mq(medium) {
    li {
      margin: 0 8px;
    }

    a {
      padding: .3em 1.2em;
    }
  }
}


/* archive
============================ */
.archive_container {
  .archive_content {
    width: 100%;
  }

  @include mq(mid) {
    display: flex;
    justify-content: space-between;

    .archive_content {
      width: 68.3%;
      flex: 0 0 68.3%;
    }
  }
}


.article_list {

  .article__item {
    margin-top: 32px;

    a {
      display: block;
      padding: 0 24px 24px;
      color: #444;
      background: #fff;
      border-radius: 8px;
      overflow: hidden;
    }
  }

  .article__thumb {
    @include aspect-ratio(1.618, 1);
    width: calc(100% + 48px);
    margin: 0 -24px;
  }

  &__link {
    display: inline-block;
    @include fs_clamp(1.4rem, 2.5vw, 1.5rem);
    border-bottom: 2px solid #ccc;
  }

  @include mq(mid) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;

    .article__item {
      padding: 0 16px;

      a {
        transition: $hover;
    
        &:hover {
          color: color(accent);
        }
      }
    }
  }
}



/* detail
============================ */
.article_detail {
  max-width: 560px;
  margin: 0 auto;

  &__ttl,
  h1 {
    @include fs_clamp(2.8rem, 4vw, 4.8rem, bold);
  }

  .article__date,
  .article__cat {
    display: inline-block;
    margin: 10px 0 24px;
  }

  h2 {
    @include fs_clamp(2.4rem, 2.5vw, 3.6rem, bold);
  }

  h3 {
    @include fs_clamp(1.8rem, 2.5vw, 2rem, bold);
  }

  h4 {
    @include fs_clamp(1.6rem, 2.5vw, 1.6rem, bold);
  }

  p, ul {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  li {
    padding-left: 1em;
    list-style: disc;
    list-style-position: inside;
  }

  @include mq(mid) {
  }
}