//* Flexbox
// --------------------------------------- */

//@include flex();
@mixin flex() {
  display: flex;
}

//@include flexbox($wrap, $direction, $justify-content, $align-items);
@mixin flexbox(
  $wrap: null, //nowrap, wrap, wrap-reverse
  $direction: null, //row, row-reverse, column, column-reverse
  $justify-content: null, //flex-start, flex-end, center, space-between, space-around
  $align-items: null //stretch, flex-start, flex-end, center, baseline
  ) {
    display: flex;

    @if $wrap != null {
      flex-wrap: $wrap;
    }

    @if $direction != null {
      flex-direction: $direction;
    }

    @if $justify-content != null {
      justify-content: $justify-content;
    }

    @if $align-items != null {
      align-items: $align-items;
    }
}




//* Articles List
// --------------------------------------- */
//@include cards(2, 32px);
@mixin article-wrap($gap: 32px) {
  margin-left: -#{$gap};
  margin-right: -#{$gap};
}

@mixin article-item($rows: 2, $gap: 32px ) {
  width: calc((100% - (#{$gap} * #{$rows})) / #{$rows});
  margin-left: $gap;
  margin-right: $gap;
}





//* Grid
// --------------------------------------- */
//@include grid(12, 4%);
@mixin grid($columns, $spacing) {
  display: grid;

  @if $columns == 1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: $spacing;
  }

  @else if $columns == 2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: $spacing;
  }

  @else if $columns == 4 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: $spacing;
  }

  @else if $columns == 12 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: $spacing;
  }

}
