/*
* Layout
* ================================== */
.wrapper {
  position: relative;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
}


.section {
  padding: $pd-sec-sm 0;
  //@include container-liquid;

  @include mq(mid) {
    padding: $pd-sec-mid 0;
  }

  &-bg {
    @extend .section;
    background: color(bg);
  }
}


.container {
  @include container;
}


.section_ttl {
  @include headline-base(h2);
  text-align: center;

  span {
    display: block;
    font-size: .6em;
    font-weight: 400;
  }

  @include mq(medium) {
    span {
      font-size: 1.2rem;
    }
  }
}

.section_lead {
  font-size: 1.6rem;
  line-height: 2;
}

.alignc { text-align: center; }
.alignr { text-align: right; }
.alignl { text-align: left; }





/* block
====================================== */

.block_split {
  @include grid(1, 16px 24px);
  grid-template-areas:
    "head"
    "img"
    "content";
    
  &__head,
  &__img,
  &__content {
    grid-column: span 2;
    grid-row: auto;
  }

  &__head {
    grid-area: head;
    @include headline-base(h3);
  }

  &__img {
    grid-area: img;
  }

  &__content {
    grid-area: content;
  }

  @include mq(medium) {
    @include grid(2, 24px 56px);
    grid-template-areas:
      "img head"
      "img content";
  }
}