/*
* Layout
* ================================== */
.wrapper {
  position: relative;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
}


.section {
  padding: $pd-sec-mb;

  @include mq(medium) {
    padding: $pd-sec-tab;
  }

  &-bg {
    @extend .section;
    background: color(bg);
  }
}


.container {
  @include container;
}


.section_ttl {
  @include headline-base(h2);
  text-align: center;

  span {
    display: block;
    font-size: .6em;
    font-weight: 400;
  }

  @include mq(medium) {
    span {
      font-size: 1.2rem;
    }
  }
}

.section_lead {
  font-size: 1.6rem;
  line-height: 2;
}

.alignc { text-align: center; }
.alignr { text-align: right; }
.alignl { text-align: left; }



/* loading
====================================== */
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10000;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1), visibility 0s ease 0.4s;

  &.loaded {
    opacity: 0;
    visibility: hidden;
  }
}

.loader_spinner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 1.6rem;
  text-align: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), visibility 0s ease 0.4s;

  &.loaded {
    opacity: 0;
    visibility: hidden;
  }
}




/* block
====================================== */
.block_split {
  @include grid(1, 16px 24px);
  grid-template-areas:
    "head"
    "img"
    "content";
    
  &__head,
  &__img,
  &__content {
    grid-column: span 2;
    grid-row: auto;
  }

  &__head {
    grid-area: head;
    @include headline-base(h3);
  }

  &__img {
    grid-area: img;
  }

  &__content {
    grid-area: content;
  }

  @include mq(medium) {
    @include grid(2, 24px 56px);
    grid-template-areas:
      "img head"
      "img content";
  }
}