@use "../../utilities" as utils;

/*
* Form
* ================================== */
.form {

  // [type="date"],
  // [type="email"],
  // [type="password"],
  // [type="search"],
  // [type="text"],
  input,
  button,
  textarea,
  select {
    appearance: none;
    border: none;
    background: transparent;
    outline: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
  }

  // [type="checkbox"],
  // [type="radio"] {
  //   outline: none;
  //   margin: 0;
  //   padding: 0;
  //   border-radius: 0;
  // }

  ::-ms-reveal {
    display: none;
  }

  ::-ms-expand {
    display: none;
  }

  :placeholder-shown { color: var(--color-notion); }
  :-webkit-input-placeholder { color: var(--color-notion); }
  :-ms-input-placeholder { color: var(--color-notion); }
  :-moz-placeholder { color: var(--color-notion); }
  ::placeholder { color: var(--color-notion); }

  [type="date"],
  [type="email"],
  [type="password"],
  [type="search"],
  [type="text"],
  select,
  textarea {
    display: block;
    width: 100%;
    color: inherit;
    font-family: inherit;
  }

  button,
  [type="checkbox"],
  [type="radio"],
  [type="submit"],
  select,
  label {
    cursor: pointer
  }

  [type="submit"] {
    display: block;
    width: 100%;
    margin: 24px auto 16px;
    padding: 16px 0;
    color: #fff;
    background:var(--color-primary);
    transition: utils.$hover;

    &:hover {
      background-color: rgba(var(--color-primary), 8);
    }
  }

  .field {
    position: relative;

    & + .field {
      margin-top: 32px;
    }

    [type="date"],
    [type="email"],
    [type="password"],
    [type="search"],
    [type="text"],
    select,
    textarea {
      background: #fff;
      border-radius: var(--radius);
      padding: 16px;
      border: 1px solid var(--color-notion);
      letter-spacing: .05em;

      &:focus {
        border-color:var(--color-primary);
      }
    }

    [type="date"],
    [type="email"],
    [type="password"],
    [type="search"],
    [type="text"] {
      height: 48px;
      line-height: 48px;
    }

    .field_type {
      display: block;
      margin: 0 0 8px;
      color: rgba(var(--color-text), .5);
      font-size: 1.4rem;
    }

    a {
      text-decoration: underline;
    }

    select {
      background-image: url(../img/common/chevron-down.svg);
      background-position: right 20px center;
      background-repeat: no-repeat;
      background-size: 16px;
    }

    [type="radio"],
    [type="checkbox"] {
      position: absolute;
      opacity: 0;
    }

    [type="radio"] {
      & + label {
        position:relative;
        display: inline-block;
        margin: 0 8px 0 0;
        padding: 8px 12px 8px 32px;
        color: rgba(var(--color-text), .5);
        border: 1px solid var(--color-notion);
        border-radius: var(--radius);
        cursor: pointer;

        &:before,
        &:after {
          content: '';
          display: block;
          position: absolute;
        }

        &:before {
          top: calc(50% - 8px);
          left: 8px;
          width: 16px;
          height: 16px;
          border: 1px solid var(--color-notion);
          border-radius: 50%;
        }

        &:after {
          top: calc(50% - 4px);
          left: 12px;
          width: 8px;
          height: 8px;
          background: rgba(var(--color-notion), .5);
          border-radius: 50%;
        }
      }

      &:checked {
        & + label {
          color:var(--color-primary);
          border-color:var(--color-primary);
        }
        & + label:after {
          background:var(--color-primary);
        }
      }
    }

    [type="checkbox"] {
      & + label {
        position:relative;
        display: inline-block;
        padding-left: 23px;
        cursor: pointer;

        p { display: inline-block; }

        &:before,
        &:after {
          content: '';
          display: inline-block;
          position: absolute;
        }

        &:before {
          top: calc(50% - 8px);
          left: 0;
          width: 16px;
          height: 16px;
          border: 1px solid var(--color-notion);
        }

        &:after {
          top: calc(50% - 6px);
          left: 2px;
          width: 12px;
          height: 12px;
          background-position: 0 0;
          background-repeat: no-repeat;
        }
      }

      &:checked {
        & + label:before {
          background: var(--color-primary);
          border-color: var(--color-primary);
        }

        & + label:after {
          background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2264px%22%20height%3D%2264px%22%20viewBox%3D%220%200%2064%2064%22%20enable-background%3D%22new%200%200%2064%2064%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%20id%3D%22eye%22%3E%20%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M16.074%2C55.049c0.369%2C0.534%2C0.975%2C0.838%2C1.615%2C0.838c0.133%2C0%2C0.269-0.049%2C0.404-0.076%20c0.098%2C0.016%2C0.193%2C0.064%2C0.292%2C0.064c0.575%2C0%2C1.134-0.249%2C1.526-0.681l43.514-43.521c0.785-0.784%2C0.785-2.056%2C0-2.841%20c-0.784-0.784-2.056-0.784-2.84%2C0l-42.52%2C42.526L3.725%2C37.021c-0.784-0.785-2.056-0.785-2.84%2C0c-0.785%2C0.784-0.785%2C2.056%2C0%2C2.841%20L16.074%2C55.049z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
          background-size: contain;
        }
      }
    }
  }
  
}